# =========================
# GO BUILD OUTPUT
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib

# бинарники сборки
/bin/
/dist/
/build/

# =========================
# GO TEST OUTPUT
# =========================
*.test
*.out
.env
# =========================
# GO MODULES (optional)
# =========================
# обычно НЕ добавляют vendor
vendor/

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log